<%= content_for :content do %>
  <%= render_data_div(@playlist.tracks) %>

  <%= form_tag '/tracks' do %>
    <%= text_field_tag 'track_url', nil, placeholder: 'Enter Track Url Here' %>
    <%= hidden_field_tag :playlist_id, @playlist.id %>
    <%= submit_tag 'Add Track', id: 'track_submit' %>
  <% end %>

  <div class='track-container'>
    <% @playlist.tracks.each do |track| %>
      <%= render_track(track) %>
    <% end %>
  </div>

  <!-- TODO: Maybe pull out into partial -->
  <div class='player'>
    <span class='player__play'>Play</span>
    <span class='player__pause'>Pause</span>
    <span class='player__previous'>Previous</span>
    <span class='player__next'>Next</span>
  </div>

  <div id="youtube-player"></div>
  <iframe id='soundcloud-player' class='hidden' width="250" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= @url %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<% end %>
