<%= content_for :content do %>
  <%= render_data_div(@playlist.tracks) %>

  <%= form_tag '/tracks', class: 'form' do %>
    <%= render_errors(flash) %>

    <div class='row'>
      <%= text_field_tag 'track_url', nil, placeholder: 'Paste SoundCloud or YouTube url here', class: 'form__input columns ten offset-by-one' %>
    </div>
    <%= hidden_field_tag :playlist_id, @playlist.id %>
    <div class='row'>
      <%= submit_tag 'Add Track', id: 'track_submit', class: ' form__submit columns four offset-by-four' %>
    </div>
  <% end %>
  <%= render_create_link(@playlist) %>

  <%= render 'player' %>

  <div class='track-container row'>
    <% @playlist.tracks.each_with_index do |track, index| %>
      <div id="track-<%= track.id %>" data-index="<%= track.id %>" class="track columns ten offset-by-one">
        <span class='track__name'>
          <%= render_site_icon(track.site_id) %>
          <span><%= track.name %></span>
        </span>
        <span class='track__artist_name'>by <%= track.artist_name %></span>
        <span class='track__play'><i class="fa fa-lg fa-play-circle-o" aria-hidden="true"></i></span>
        <!-- <span class='track__pause'><i class="fa fa-lg fa-pause" aria-hidden="true"></i></span> -->
      </div>
    <% end %>
  </div>

  <div class='none'>
    <div id="youtube-player"></div>
    <iframe id='soundcloud-player' class='hidden' width="250" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= @url %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
<% end %>
