<%= content_for :content do %>
  <%= render_data_div(@playlist.tracks) %>

  <%= form_tag '/tracks' do %>
    <%= text_field_tag 'track_url', nil, placeholder: 'Enter Track Url Here' %>
  <% end %>

  <div class='track-container'>
    <% @playlist.tracks.each do |track| %>
      <%= render_track(track) %>
    <% end %>
  </div>
  <div id="youtube-player"></div>
  <iframe id='soundcloud-player' class='hidden' width="250" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= @url %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<% end %>
