<!DOCTYPE html>
<html>
  <head>
    <title>Ploosic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato|Pacifico' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'https://w.soundcloud.com/player/api.js' %>
    <%= javascript_include_tag "https://use.fontawesome.com/e9876773c9.js" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class='body-content container'>
      <%= yield :content %>
    </div>

  </body>
</html>
